:root {
    --principal: #2596be;
    --segundo: #154c79;
    --tercero: #edcb5c;
    --cuarto: rgb(233, 287, 2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal:'Lato', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-size: 1.6rem; 
    line-height: 1.5;
    background-color: var(--principal);
    margin: 0;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: var(--tercero);
    text-transform: uppercase;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h1 span {
    font-size: 1.5rem;
}

/* Header */

.header {
    /* display: flex;
    justify-content: center; */
    padding-top: 5rem;
    
}

.header__imagen {
    display: block;
    margin: 0 auto;
  
}

/* navegación */

.navegacion {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: var(--segundo);
    width: 100%;
    
    
}
.navegacion__enlace {
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    padding: 1rem;
    font-family: var(--fuentePrincipal);
   
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
   color: var(--tercero);
   
}

.footer {
    margin-top: 5rem;
    background-color: var(--segundo);
    padding: 2.5rem;
    text-align: center;
    margin-bottom: -1rem;
}

.footer__texto {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.productos_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    
}

@media (min-width: 768px) {
    .productos_grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
   
    
}
.producto {
    background-color: var(--segundo);
    padding: .5rem;

}

.producto__imagen {
    width: 100%;
}

.producto__descripcion {

}

.producto__nombre {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    margin: 0;

}
.producto__precio {
    font-size: 3rem;
    margin: 0;
    font-weight: 900;
    text-align: center;
    color: var(--tercero);

}

.grafico {
    min-height: 35rem;

}

.grafico--camisas {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(../img/grafico1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.grafico--node {
    grid-row: 7 / 8;
    grid-column: 1 / 3;
    background-image: url(../img/grafico2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
    

}

@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
        background-image: url(../img/grafico2.jpg);
        background-size: cover;
    
    }
}

.nosotros__grid {
    display: grid;
    background-color: var(--segundo);

}
.nosotros__img {
    grid-row: 1 / 2;
    width: 100%;
}

@media (min-width: 768px) {
    .nosotros__img {
        grid-column: 2/3;
}
}

.nosotros__imagen {
    grid-row: 1 / 2;
    width: 100%;
    display: block;
    height: 35rem;
   
}

@media (min-width: 768px) {
    .nosotros__grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    
}

.nosotros__informacion {
    padding: 2rem 3rem;
    text-align: justify;
    
}

.nosotros__texto {
    margin: 0;
  
}


@media (min-width: 768px) {
    .nosotros__imagen {
        height: 100%; 
    }
}

@media (min-width: 768px) {
    .comprar__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        justify-items: center;
    
    }
}

.comprar__icono {
    display: block;
    margin: 0 auto;
}
.comprar__descripcion {
    margin: 0;
}
.comprar__descripcion-texto {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
        background-color: var(--principal);
    }
}
.camisa__imagen {
    width: 100%;

}
.camisa__contenido {

}
.camisa__descripcion {
    padding: 1rem;
    text-align: justify;

}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;

}
.formulario__campo {
    border-color: var(--segundo);
    border-width: .5rem;
    border-style: solid;
    background-color: transparent;
    color: var(--segundo);
    font-size: 2rem;
    padding: 1rem;
   

}
.formulario__submit {
    grid-column: 1/3;
    background-color: var(--segundo);
    border: none;
    color: var(--blanco);
    font-size: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    transition: background-color .4s ease;
    display: block;
    width: 100%;
  


}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--tercero);
}

@media (max-width: 480px) {
    .formulario__submit {
        margin-bottom: 25rem;
    }
}
