:root {
    --principal: #c24c87;
    --segundo: #9c5784;
    --tercero: #edcb5c;
    --cuarto: rgb(233, 287, 2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal:'Lato', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-size: 1.6rem; 
    line-height: 1.5;
    background-color: var(--principal);
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h1 span {
    font-size: 1.5rem;
}

/* Header */

.header {
    /* display: flex;
    justify-content: center; */
    padding-top: 5rem;
    
}

.header__imagen {
    display: block;
    margin: 0 auto;
  
}

/* navegación */

.navegacion {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: var(--segundo);
    
    
}
.navegacion__enlace {
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    padding: 1rem;
    font-family: var(--fuentePrincipal);
  
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
   color: var(--tercero);
   
}

.footer {
    margin-top: 5rem;
    background-color: var(--segundo);
    padding: 2rem;
    text-align: center;
}

.footer__texto {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}